@font-face {
  font-family: "DS DIGI";
  src: url(../fonts/DS-DIGI.ttf),
    url(../fonts/DS-DIGI.eot);
}

@font-face {
  font-family: "Press Start 2P";
  src: url(../fonts/PressStart2P.ttf),
    url(../fonts/PressStart2P.eot);
}

body {
  background-image: url(../img/wallpaper.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#audio {
  background-color: #00FF00;
  box-shadow: 0 0.5rem #00CC00;
  border-radius: 2rem;
  padding: 0.25rem 0.5rem;
}

#audioDisabled {
  background-color: #FF0000;
  border-radius: 2rem;
  padding: 0.25rem 0.5rem;
  top: 0.5rem;
}

.btn {
  border: 0;  
  cursor: pointer;
  position: relative;
}

#content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#controller {
  padding-bottom: 0.5rem;
}

#game {
  background-color: #000000;
  border-radius: 1.5rem;
  padding: 1rem;
}

#gameOver {
  display: none;
  color: #FFFFFF;
  font-family: 'DS DIGI';
  font-size: 1.75rem;
  text-align: center;
}

.item {
  border-radius: 2rem;
  background-color: #000000;
  border-top: 0.5rem solid #870000;
  cursor: url(../img/cursor.cur), auto;
  margin: 0.5rem;
}

#a {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

#b {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

#c {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

#d {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}

#e {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}

#f {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
}

#g {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

#h {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
}

#i {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

#list {
  display: -ms-grid;
  -ms-grid-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;

  display: grid;
  grid-template-columns: repeat(3, auto);
  list-style-type: none;
  height: 15rem;
  width: 15rem;
  margin: auto;
  padding: 0;

  position: relative;
  transform: rotateX(45deg);
  background: linear-gradient(
    180deg,
    rgba(50,60,255,1) 0%,
    rgba(100,100,255,1) 30%,
    rgba(195,230,255,1) 100%
  );
}

.emoji {
  background: url("../img/emoji.png");
  background-size: cover;
}

#life {
  display: block;
  color: #FF0000;
  font-family: 'DS DIGI';
  font-size: 1.75rem;
  text-align: center;
}

#score, #timerOn {
  color: #FFFFFF;
  font-family: 'DS DIGI';
  font-size: 1.75rem;
  float: right;
}

#result, #timer {
  color: #FFFFFF;
  font-family: 'DS DIGI';
  font-size: 1.75rem;
}

#start {
  background-color: #00FF00;
  box-shadow: 0 0.5rem #00CC00;
  border-radius: 0.5rem;
  color: #808080;
  float: right;
  font-family: 'Press Start 2P', cursive;
  font-size: 1.75rem;
  text-shadow: -1px -1px #000000, 1px 1px #FFFFFF;
  padding: 0.5rem 1rem;
}

#start:disabled {
  background-color: #FF0000;
  box-shadow: none;
  top: 0.5rem;
}
