body {
  font-family: Courier New;
  background: url("../img/wallpaper.jpg") no-repeat center center fixed;
  background-size: cover;
}

.main {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -60%) ;
}

.list {
  list-style-type: none;
  height: 15rem;
  width: 15rem;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

li {
  margin: 0.5rem;
  border: 1px solid black;
  border-radius: 100%;
  background: #01D204;
}

.emoji {
  background-size: cover;
  background-image: url("../img/emoji.png");
}

#result {
  font-size: 2rem;
  text-align: center;
  color: white;
}
