@font-face {
  font-family: "DS DIGI";
  src: url(../fonts/DS-DIGI.ttf);
}

@font-face {
  font-family: "Press Start 2P";
  src: url(../fonts/PressStart2P.ttf);
}

body {
  background: url("../img/wallpaper.jpg") no-repeat center center fixed;
  background-size: cover;
}

.btn {
  display: block;
  position: relative;
  margin: auto;

  border: 0;
  border-radius: 0.5rem;
  background-color: lime;
  box-shadow: 0 0.5rem grey;
  color: gray;
  text-shadow: -1px -1px black, 1px 1px white;
  cursor: pointer;
  font-family: 'Press Start 2P', cursive;
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
  padding: 0.75rem 1.25rem;
}

.btn:active {
  box-shadow: none;
  top: 0.5rem;
}

.btn:disabled {
  background-color: red;
  box-shadow: none;
  top: 0.5rem;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.game {
  background-color: black;
  border-radius: 10%;
  padding: 1rem;
}

.list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  list-style-type: none;
  height: 15rem;
  width: 15rem;
  padding: 0;

  position: relative;
  transform: rotateX(40deg);
  background: linear-gradient(
    180deg,
    rgba(50,60,255,1) 0%,
    rgba(100,100,255,1) 30%,
    rgba(195,230,255,1) 100%
  );
}

.item {
  margin: 0.5rem;
  border-radius: 100%;
  background: black;

  border-top: 12px solid #020093;

  cursor: url(../img/cursor.cur), auto;
}

.emoji {
  background-size: cover;
  background-image: url("../img/emoji.png");
}

.result {
  color: lightgray;
  font-family: 'DS DIGI';
  font-size: 2rem;
  text-align: center;
  margin: 0;
}

.gameOver {
  color: lightgray;
  font-family: 'DS DIGI';
  font-size: 2rem;
  text-align: center;
  margin: 0;
  visibility: hidden;
}
